docs/
dist/cjs/tests/
dist/cjs/examples/
dist/esm/tests/
dist/esm/examples/
examples/
tests/
*.spec.ts
*.spec.js
*.spec.js.map
*.spec.d.ts
*.spec.d.ts.map
scripts/
tsconfig.json
tsconfig.cjs.json
.editorconfig
.eslintrc.cjs
.github/
.markdownlintrc
.vscode/
*.tgz
.nyc_output/
.eslintignore
